@media (max-width: 1050px){
    .div-text {
        margin-top: 68px;
    }
}
@media (max-width: 1050px){
    .div-text {
        margin-top: -32px;
    }
    .div-text p {
        font-size: 17px;
        margin-bottom: 0px;
    }
    .div-text h1 {
        margin-bottom: 28px;
        font-size: 23px;
        margin-bottom: 10px;
    }
    
    
}
@media (max-width: 992px){
    .abut-text p {
      
        margin-bottom: 14px !important;
    }
    .div-text {
        margin-top: 115px;
    }
    .btn.btn-primary.mt-5 {
        margin-top: 114px !important;
        margin-left: -100px;
    }
}
@media (max-width: 991px){
    .mb-4 {
        margin-bottom: 7px !important;
    } 
    .start-div h5 {
        font-size: 14px;
    } 
}
    
@media (max-width: 765px){
    .start-div h5 {
        font-size: 25px;
        margin-top: 13px;
    }
    .start-div {
        margin-bottom: 35px;
    }
    .btn.btn-primary.mt-5 {
        
        margin-left: -144px;
        display: inline-block;
        margin: auto;
      
        margin-right: 43px;
    }
    .btn.btn-primary.mt-5 {
        margin-top: 114px !important;
        margin-left: 0px;
        padding: 8px 99px;
    }
    .btn.btn-primary.mt-5 {
       
        margin-left: -8px;
    }
    .btn.btn-primary.mt-5 {
       
        margin-left: 230px;
    }
    .start-div {
       
        margin: 15px;
    }
    .btn.btn-primary.mt-5 {
        margin-left: 50px;
        margin-top: 40px !important;
    }
    .btn.btn-primary.mt-5 {
        margin-left: 50px;
        margin-top: 40px !important;
        padding: 8px 77px;
        font-size: 24px;
    }
}
@media (max-width: 573px){
    .start-hedar {
        margin: 0px !important;
        margin-top: 51px !important;
    }
    .hedeerr {
    
        margin-top: 21px;
    }
}
@media (max-width: 521px){
    .selaider {
        padding: 29px;
        margin-top: 36px;
    }
}
@media (max-width: 476px){
    .btn.btn-primary.mt-5 {
        
        font-size: 22px;
    }
}
@media (max-width: 468px){
    .btn.btn-primary.mt-5 {
        font-size: 20px;
    }
}
@media (max-width: 460px){
    .btn.btn-primary.mt-5 {
        font-size: 13px;
    }
}
@media (max-width: 434px){
    .btn.btn-primary.mt-5 {
        font-size: 13px;
        padding: 7px 25px;
    } 
}
@media (max-width: 381px){
    .btn.btn-primary.mt-5 {
        font-size: 16px;
        padding: 8px 39px;
    }
}
@media (max-width: 370px){
    .btn.btn-primary.mt-5 {
        font-size: 15px;
        
    }
}
@media (max-width: 365px){
    .btn.btn-primary.mt-5 {
        font-size: 16px;
        padding: 5px 32px;
    }
}
@media (max-width: 356x){
  
    .btn.btn-primary.mt-5 {
        font-size: 16px;
        padding: 5px 31px;
    }
}
@media (max-width: 355px){
    
   
    
    .btn.btn-primary.mt-5 {
        font-size: 13px;
        padding: 5px 32px;
    }
}

@media (max-width: 350px){
    .div-text h5 {
        font-size: 14px;
    }
}
@media (max-width: 344px){
    .btn.btn-primary.mt-5 {
        font-size: 11px;
       
    }
}
@media (max-width: 337px){
    .abut-text h1 {
        font-size: 34px;
    }
    .abut-text p {
        font-size: 12px;
    }
    .abut-text {
        margin-top: 24px;
    }
    .btn.btn-primary.mt-5 {
        font-size: 10px;
    }
}
@media (max-width: 328px){
   
    .btn.btn-primary.mt-5 {
        font-size: 8px;
    }
}
@media (max-width: 325px){
    .btn.btn-primary.mt-5 {
        font-size: 11px;
        padding: 6px 25px;
    }
    
}
@media (max-width: 320px){
    .div11 h1 {
        line-height: 49px;
    }
}
